body{
  background-color: black;
  text-align: center;
  font-family: Verdana;
}
h1 {
  font-family: Verdana;
  font-size: 50px;
  color: white;
  font-weight: normal;
}
.download {
  color: Aquamarine;
  fonr-size: 16px;
}
.paragraph2 {
  font-weight: 300;
  font-size: 42px;
  color: white;
}
.grey {
  font-size: 21px;
  color:gray;
}
